.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.react-calendar {
  width: 70%; /* 달력 크기를 화면의 70%로 설정 */
  max-width: 900px; /* 최대 너비를 900px로 설정 */
  background: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
  max-width: initial !important;
  text-align: center;
  padding: 45px;
  background: #fff;
  border-radius: 5px;
  transition: background-color 0.2s;
  }

  .react-calendar__tile--now {
    background: #00ADB5 !important;
    color: white;
  }

  .react-calendar__tile--active {
    background: #393E46 !important;
    color: white;
  }

  .react-calendar__tile--hover {
    background: #f2f2f2 !important;
  }